body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

input {
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    outline: none;
}

#strengthBox {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background: #333;
}

#strengthText {
    font-size: 20px;
    font-weight: bold;
}